@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "PT Serif", serif;
  font-size: 16px;
  line-height: 24px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #484DA9; }

a {
  text-decoration: none;
  color: #484DA9; }
  a:hover {
    text-decoration: none; }

img {
  width: 100%;
  height: 100%; }

.container {
  margin: 0 auto; }

nav {
  border-bottom: 1px solid #EBEBEB;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2em; }
  nav ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    nav ul li {
      text-align: center;
      padding: 1em; }
      nav ul li a {
        text-decoration: none;
        color: #484DA9; }
        nav ul li a:hover {
          text-decoration: underline; }
      nav ul li.active a {
        color: black; }

#menu-toggle {
  opacity: 0; }

#menu-icon {
  position: relative;
  left: -1.2em; }
  #menu-icon svg path {
    fill: #484DA9; }

#menu-toggle:checked ~ #menu {
  display: flex; }

@media (min-width: 768px) {
  nav {
    padding: 0em;
    font-size: 1.2em; }
    nav ul {
      display: flex;
      flex-direction: row; }
      nav ul li {
        padding: 1.5em; }
  #menu-toggle,
  #mobile-menu-label {
    display: none; }
  #mobile-menu-label {
    padding: 1.5em 1em; } }

#works {
  margin-top: 3em;
  margin-bottom: 3em; }
  #works .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center; }
    #works .container .work {
      display: flex;
      flex-direction: column;
      width: 380px;
      margin: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
      transition: box-shadow .2s ease-out, transform .2s ease-out, opacity .1s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
      flex-grow: 0;
      flex-shrink: 0; }
      #works .container .work a {
        color: #222;
        text-decoration: none; }
        #works .container .work a:hover {
          text-decoration: none; }
      #works .container .work .thumbnail {
        height: 300px;
        border-radius: 5px 5px 0 0;
        background-size: cover;
        background-position: center center; }
      #works .container .work .info {
        padding: 1.5em;
        min-height: 80px; }
        #works .container .work .info h1 {
          font-size: 1.2em;
          margin-bottom: .2em; }
        #works .container .work .info p {
          font-size: 1em; }
      #works .container .work:hover {
        transform: translate(0px, -5px);
        box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px; }

@media (min-width: 768px) {
  #works .container {
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px; }
    #works .container .work {
      width: 40%; } }

@media (min-width: 1200px) {
  #works .container {
    max-width: 1200px; }
    #works .container .work {
      width: 30%; } }

#single-work {
  margin-top: 3em;
  margin-bottom: 3em; }
  #single-work img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 0px; }
    #single-work img.shorter {
      width: 100%;
      height: auto; }
  #single-work .caption {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #888;
    font-size: .9em;
    margin-top: 0px; }
  #single-work .container {
    margin: 0 auto;
    max-width: none;
    text-align: center; }
    #single-work .container .inner-container {
      margin: 0 auto;
      text-align: left; }
      #single-work .container .inner-container .work-meta {
        font-family: "Poppins", sans-serif;
        color: #888;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px; }
        #single-work .container .inner-container .work-meta h1 {
          font-size: 2.5em; }
        #single-work .container .inner-container .work-meta .work-owner {
          color: #222;
          margin-top: 1.2em;
          margin-bottom: .8em;
          font-size: .8em !important; }
        #single-work .container .inner-container .work-meta .work-meta-row {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          align-self: flex-start;
          justify-content: flex-start;
          flex-wrap: nowrap;
          font-size: 1.5rem !important; }
          #single-work .container .inner-container .work-meta .work-meta-row .work-meta-label {
            font-weight: bold;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 6em; }
          #single-work .container .inner-container .work-meta .work-meta-row .work-meta-value {
            flex-grow: 1; }
      #single-work .container .inner-container .work-content {
        padding-top: 20px;
        padding-bottom: 50px; }
        #single-work .container .inner-container .work-content h1, #single-work .container .inner-container .work-content h2, #single-work .container .inner-container .work-content h3, #single-work .container .inner-container .work-content h4, #single-work .container .inner-container .work-content h5, #single-work .container .inner-container .work-content h6 {
          max-width: 700px; }
        #single-work .container .inner-container .work-content h2 {
          font-size: 2.2em;
          margin-top: 30px;
          margin-bottom: 30px; }
        #single-work .container .inner-container .work-content h3 {
          font-size: 1.8em;
          margin-top: 50px;
          margin-bottom: 20px;
          color: #222; }
        #single-work .container .inner-container .work-content h4 {
          font-size: 1.2em;
          color: #888;
          margin-top: 20px;
          margin-bottom: 10px; }
        #single-work .container .inner-container .work-content p {
          font-size: 1.2em;
          margin-bottom: 30px;
          max-width: 700px; }

#works-nav {
  background: #484DA9;
  padding: 50px;
  font-family: "Poppins", sans-serif;
  text-align: center; }
  #works-nav .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-between; }
    #works-nav .container > div {
      margin: 10px; }
    #works-nav .container a {
      color: white;
      text-decoration: none; }
      #works-nav .container a:hover {
        text-decoration: underline; }

#works-nav .container {
  flex-direction: row; }
  #works-nav .container > div {
    margin: 0px; }
