@import 'variables';
nav {
  border-bottom: 1px solid #EBEBEB;
  padding: 1em;
  font-family: $header-font;
  font-weight: 600;
  font-size: 20px;

  ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    li {
      text-align: center;
      padding: 1em;
      a {
        text-decoration: none;
        color: $link-color;
        &:hover {
          text-decoration: underline;
        }
      }
      &.active{
        a{
          color: $link-active;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  nav {
    padding: 0em;
    ul {
      display: flex;
      flex-direction: row;
      li {
        padding: 1.5em;
      }
    }
  }

  //checkbox toggle will hide when breakpoint is beyond mobile
  #menu-toggle,
  #mobile-menu-label {
    display: none;
  }

  #mobile-menu-label {
    padding: 1.5em 1em;
  }
}

//hide checkbox input element
#menu-toggle {
  opacity: 0;
}

// Show menu when #menu-toggle checkbox is checked, use ~
#menu-toggle:checked ~ #menu {
  display: flex;
}

#menu-icon {
  position: relative;
  left: -1.2em;
  svg {
    path {
      fill: $link-color;
    }
  }
}

// TODO
// 1. change menu icon to cross on the right
