
#single-work{
  margin-top: 3em;
  margin-bottom: 3em;

  .container{
    margin: 0 auto;
    max-width: none;

      .work-meta{
        margin: 0 auto;
        max-width: 700px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: $header-font;
        font-size: .9em;
        margin-bottom: 30px;

        h1{
          font-size: 3em;
        }

        .work-owner{
          margin-top: 1.2em;
          margin-bottom: .5em;
        }

        .work-meta-row{
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          align-self: flex-start;
          justify-content: flex-start;
          flex-wrap: nowrap;

          .work-meta-label{
            font-weight: bold;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 6em;
          }
          .work-meta-value{
            flex-grow:1;
          }
        }
      }
      .work-content{
        padding-top: 20px;
        padding-bottom: 50px;
        text-align: center;

        img{
          width: 100%;
          height: 100%;
          text-align: center;
          margin: 0 auto;
          object-fit: scale-down;
          &.inner{
            max-width: 700px;
            height: auto;
            text-align: center;
            margin: 0 auto;
            margin-top: 1em;
            object-fit: scale-down;
          }
        }

        h1,h2,h3,h4,h5,h6{
          max-width: 700px;
          margin: 0 auto;
          padding-left: 20px;
          padding-right: 20px;
          text-align: left;
        }

        h1{
          font-size: 2.4em;
          margin-top: 1.6em;
          margin-bottom: 1em;
        }

        h2{
          font-size: 2em;
          margin-top: 1.6em;
          margin-bottom: .6em;
          color: $body-color;
        }

        h3{
          font-size: 1.4em;
          margin-top: 1.2em;
          margin-bottom: .6em;
          color: $light-grey;
        }

        h4{
          font-weight: 400;
          font-size: 1.2em;
          color: $light-grey;
          margin-top: 1.6em;
          margin-bottom: .6em;
        }

        h5{
          font-weight: 400;
          font-size: 1.5em;
          color: $light-grey;
          margin-top: 1.6em;
          margin-bottom: .6em;
        }

        h6{
          font-weight: 400;
          text-align: center;
          color:$light-grey;
          font-size: .9em;
          margin-top: .3em;
          margin-bottom: 2em;
        }

        p{
          max-width: 700px;
          margin: 0 auto;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 1.2em;
          line-height: 1.6em;
          margin-bottom: 1.2em;
          max-width: 700px;
          text-align: left;
        }
      }



  }
}

#works-nav{
  background: $brand-primary;
  padding: 50px;
  font-family: $header-font;
  text-align: center;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    > div{
      margin: 10px;
    }
    a{
        color: white;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
    }
  }
}


#works-nav{
  .container{
    flex-direction: row;
    > div{
      margin: 0px;
    }
    }
  }
